{% extends "base.html" %}

{% block main %}
<header>
    <h2>Contact Form</h2>
    <hr attribute="20">
    <p>Fill in this form to contact the site owners.</p>
</header>
<form method="POST" action="/contact">
    {{ form.csrf_token }}
    
    <div class="name">
        <p>{{ form.name.label(id ="blk") }} (Required) </p>
        <p>Please enter your full name.</p>
        {{ form.name }}
    </div>
    
    <div class="email">
        <p>{{ form.email.label(id ="blk") }} (Required)</p>
        <p>Please enter your e-mail address.</p>
        {{ form.email }}
    </div>
    
    <div class="subject">
        <p>{{ form.subject.label(id ="blk") }} (Required) </p>
        <p>Please enter the subject of your message.</p>
        {{ form.subject }}
    </div>
    
    <div class="message">
        <p>{{ form.message.label(id ="blk") }} (Required)</p>
        <p>Please enter the message you would like to send.</p>
        {{ form.message }}
    </div>
    <div class="btn"> 
        {{form.submit (class ="b")}}
    </div>
    
</form>
{% endblock %}